logs
project/project
project/target
project/boot/
project/plugins/project/
lib_managed/
src_managed/
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.worksheet
/RUNNING_PID
/.settings
.DS_STORE
*.class
*.log
.cache
/bin/
